body {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: $bg-dark;
  color: $text;
}

h2 {
  color: $accent-light;
  margin: 1.5rem;
  font-size: 2em;
}

article {
  margin: 1.5rem;
}