body {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: $bg-dark;
  color: $text;
}

h2 {
  color: $accent-light;
  font-size: 2rem;
  margin: 0;
}

h1 {
  margin: 0;
}

main {
  margin: 1.5rem;
}