body {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: $bg-dark;
  color: $text;
}

h3 {
  margin: 0;
}

h2 {
  color: $accent-light;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
}

main {
  margin: 1.5rem;
}

.text-warn {
  color: rgb(199, 0, 0);
}

.btn {
  color: $text;
  background-color: $bg-light;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1rem;

  &:hover {
    background-color: lighten($bg-light, 5);
  }
}

.btn-warn {
  @extend .btn;
  background-color: $warning-colour;
  &:hover {
    background-color: lighten($warning-colour, 5);
  }
}

.btn-accent {
  @extend .btn;
  background-color: $accent-light;
  &:hover {
    background-color: lighten($accent-light, 5);
  }
  color: $bg-dark;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
}

input,
textarea,
select {
  background-color: $bg-light;
  border: 2px solid $bg-dark;
  border-radius: 4px;
  color: white;
}

input {
  font-size: 1rem;
}

select {
  padding: 0.25rem;
}

.list-selector-item {
  display: flex;
  justify-content: space-between;

  color: $text;
  padding: 0.75em 1.5rem;
  &:not(:last-child) {
    border-bottom: 1px solid lighten($bg-dark, 5);
  }
  @media only screen and (max-width: $mobile-size) {
    margin: 0;
    padding: 0.5em 1.5rem;
  }

  font-size: 1.25rem;

  &:hover {
    background-color: lighten($bg-dark, 5);
  }
}

.desc {
  word-break: break-word;
}

.title {
  word-break: break-word;
}

a {
  color: $accent-light;
  &:hover {
    color: $accent-dark;
  }
}

select {
  height: 2rem;
}
